@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

body {
  background-color: aquamarine;
  font-family: 'DynaPuff', cursive;
  padding: 0;
  margin: 0;

}

.App {
  display: flex;
  flex-direction: column;
}

#upperbar {
  flex-basis: 20%;
  min-height: 20vh;
  width: 100vw;
  display: flex;
  align-content: center;
  justify-content: center;

}

#lowerbar {
  flex-basis: 80%;
  display: flex;
  flex-direction: row;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 25px;
}

.ReadArea, .WriteArea {
  flex-basis: 50%;
}
.ReadArea {
  padding-left: 10px;
}

#heading {
  align-self: center;
  font-size: 40px;
}


/* INPUT */
input {
  min-height: 40px;
  font-size: 33px;
  min-width: 60px;
  outline: none;
  font-family: 'Rubik Dirt', cursive;
  border-radius: 4px;
}
input:focus {
  background-color: lightgoldenrodyellow;
}
@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}


/* BUTTON*/
.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

#redButton {
  background-color: #dc143c;
}